{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es2021": true,
    "jquery": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "fragment": "Fragment",
      "version": "detect",
      "flowVersion": "0.53"
    },
    "propWrapperFunctions": ["forbidExtraProps", { "property": "freeze", "object": "Object" }, { "property": "myFavoriteWrapper" }],
    "linkComponents": ["Hyperlink", { "name": "Link", "linkAttribute": "to" }]
  },
  "rules": {
    "no-unused-vars": "warn"
  }
}
