{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es2021": true,
    "jquery": true,
    "node": true
  },
  "extends": ["airbnb", "plugin:unicorn/recommended"],
  "plugins": ["unicorn"],
  "rules": {
    "semi": 0,
    "no-console": "off",
    "no-return-await": "warn",
    "import/no-extraneous-dependencies": "warn",
    "unicorn/no-static-only-class": "warn",
    "import/no-unresolved": "warn",
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "camelCase": true,
          "pascalCase": true
        }
      }
    ],
    "arrow-parens": ["warn", "as-needed"]
  }
}
