# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
package.json
package-lock.json

# build
dist

# code editors
.idea
.vscode

# misc
.DS_Store
eslint-output-config.json
stylelint-output-config.json