{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es2021": true,
    "jquery": true,
    "node": true
  },
  "ignorePatterns": ["dist", "node_modules"],
  "extends": ["airbnb", "plugin:unicorn/recommended", "prettier"],
  "plugins": ["unicorn", "prettier"],
  "rules": {
    "arrow-parens": ["warn", "as-needed"],
    "comma-dangle": "off",
    "global-require": "warn",
    "no-console": "off",
    "no-return-await": "warn",
    "semi": 0,
    "import/no-extraneous-dependencies": ["warn", { "devDependencies": true }],
    "unicorn/no-static-only-class": "warn",
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "camelCase": true,
          "pascalCase": true
        }
      }
    ],
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "checkFilenames": false
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
