.card-data {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
}

.card-data:hover {
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}
